<div class='todo-modal'>
  <form id='todo-form' action='#'>
    <input id='todo' name='description' type='text'/>
  </form>
  <div class='buttons'>
    <button type='button' class='blue'>save</button>
  </div>
</div>